{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block body %}
<section class="contaiter">
    <ul class="list-unstyled">
        <li>{{ artist.first_name }}</li>
        <li>{{ artist.last_name }}</li>
    </ul>
</section>
{% endblock %}
